* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    width: 100%;
}

/* BARRA NAV */

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
    z-index: 5000;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
    
}

.nav-list {
    display: block;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo2{
    display: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000; 
}

.acessarestoque2 {
    display: none;
}

.buttonsnav {
    color: rgb(0, 0, 0);
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    animation: pulse 2.5s ease infinite;
}

.buttonsnav:hover {
    background-color: rgb(236, 236, 236);
    transition: all 0.3s;
}

.buttonsnav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.navatual {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
}

.navatual p {
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    top: 0;
    z-index: 0;
}

.open{
    display: block;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    top: 0;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    max-width: 700px;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    display: flex;
    margin: 10px 7% 10px 7%;
    font-size: 17px;
    justify-content: space-between;
    transition: all 0.3s;
    border: 1px solid #cccccc;
}

.mobile-menu .nav-item a{
    font-weight: 600;
}


.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}


.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none; /* Remove os marcadores de lista */
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
        
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        width: 100%;
        max-width: 700px;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 15px 30px 15px 30px;
        display: flex;
        margin: 10px 7% 10px 7%;
        font-size: 17px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid #cccccc;
    }
    
    .mobile-menu .nav-item:hover {
        border: 1px solid rgb(123, 123, 123);
        cursor: pointer;
        transform: translate(1%, 0%);
        
    }
    
    .mobile-menu .nav-item a{
        font-weight: 600;
    }
    
    
    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    
    .open {
        display: block;
        z-index: 7000;
    }
}  

.principal{
    margin: auto;
    width: 79%;
    height: 200px;
    margin-bottom: 50px;
}

.principaltext {
    position: relative;
    font-size: 40px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    font-weight: 700;
    padding-top: 80px;
}

.buttonabrirfiltrar {
    display: none;
}

@media screen and (max-width: 1000px) {
    .buttonabrirfiltrar {
        display: block;
        float: right;
        height: 50px;
        margin-right: 15%;
        margin-top: 110px;
    }

    .principal{
        display: inline-block;
        margin: auto;
        width: 40%;
        margin-left: 15%;
        height: 150px;
        margin-bottom: 50px;
    }
    
    .principaltext {
        padding-top: 80px;
        margin: 0;
        font-size: 30px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }

    .showfiltrar {
        background-color: transparent;
        font-size: 20px;
        height: 40px;
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
    }
}

.full {
    position: absolute;
    height: 420px;
}

@media screen and (max-width: 1395px) {
    .full {
        position: absolute;
        height: 3150px;
    }
}

.full2 {
    display: none;
}


.filtrocar {
    width: 23%;
    height: 420px;
    margin-left: 40px;
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
    border: 1.5px solid #c2c2c2;
    box-sizing: border-box;
}



.filtromarcas {
    display: inline-block;
    width: 35%;
}

.filtromarcas label {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636
}

.filtromarcas input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}

.filtromarcas input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtromarcas input:hover {
    cursor: pointer;
}

.dropDown {
    position: absolute;
    width: 100px;
    background-color: #ffffff;
    margin-top: 10px;
    border: none;
    height: 90px;
    overflow: auto;
    display: none;
}

.dropDown::-webkit-scrollbar{
    background-color: #ffffff;
    width: 7px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 0px;
}

.item{
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 14px;
}

.item p {
    font-size: 5px;
}

.item:hover {
    font-weight: 600;
    padding-left: 7px;
}

.filtroblindado {
    position: relative;
    float: right;
    width: 35%;
}

.filtroblindado label {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtroblindado input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroblindado input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtroblindado input:hover {
    cursor: pointer;
}

.dropDown2 {
    position: absolute;
    width: 100px;
    background-color: #ffffff;
    margin-top: 10px;
    border: none;
    height: 90px;
    overflow: auto;
    display: none;
}

.item2{
    height: 30px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: 0.4s all;
    cursor: pointer;
}

.item2:hover {
    background-color: #121212;
    padding-left: 7px;
}

.filtroanoinicial {
    display: inline-block;
    width: 35%;
}

.filtroanoinicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtroanoinicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroanoinicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.ate {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
    margin-left: 10%;
}

.filtroanofinal {
    float: right;
    width: 35%;
}

.filtroanofinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtroanofinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroanofinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrovalorinicial {
    display: inline-block;
    width: 35%;
}

.filtrovalorinicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtrovalorinicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrovalorinicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrovalorfinal {
    float: right;
    width: 35%;
}

.filtrovalorfinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtrovalorfinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrovalorfinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrokminicial {
    display: inline-block;
    width: 35%;
}

.filtrokminicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtrokminicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrokminicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrokmfinal {
    float: right;
    width: 35%;
}

.filtrokmfinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtrokmfinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrokmfinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrar {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    color: rgb(68, 68, 68);;
    background-color: #000000;
    border: solid 2px #000000;
    transition: all 0.3s;
    border-radius: 5px;
}



@media screen and (max-width: 1000px) {

    .full {
        display: none;
    }
    
    .full2 {
        display: none;
        height: 380px;
    }
    
    .filtrocar {
        position: relative;
        width: 70%;
        margin: auto;
        height: auto;
        border-radius: 15px;
        padding: 25px 40px 25px 40px;
        border: 1.5px solid #363636;
        box-sizing: border-box;
    }
    
    .filtromarcas {
        display: inline-block;
        width: 35%;
    }
    
    .filtromarcas label {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636
    }
    
    .filtromarcas input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    .filtromarcas input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .dropDown {
        position: absolute;
        width: 100px;
        background-color: #ffffff;
        margin-top: 10px;
        border: none;
        height: 90px;
        overflow: auto;
        display: none;
    }
    
    .dropDown::-webkit-scrollbar{
        background-color: #ffffff;
        width: 7px;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #7d7d7d;
        border-radius: 0px;
    }
    
    .item{
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        transition: 0.2s all;
        cursor: pointer;
        font-size: 14px;
    }
    
    .item p {
        font-size: 5px;
    }
    
    .item:hover {
        font-weight: 600;
        padding-left: 7px;
    }
    
    .filtroblindado {
        position: relative;
        float: right;
        width: 35%;
    }
    
    .filtroblindado label {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtroblindado input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroblindado input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    
    .dropDown2 {
        position: absolute;
        width: 100px;
        background-color: #ffffff;
        margin-top: 10px;
        border: none;
        height: 90px;
        overflow: auto;
        display: none;
    }
    
    .item2{
        height: 30px;
        padding: 0px 5px;
        box-sizing: border-box;
        transition: 0.4s all;
        cursor: pointer;
    }
    
    .filtroanoinicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtroanoinicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtroanoinicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroanoinicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .ate {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
        margin-left: 10%;
    }
    
    .filtroanofinal {
        float: right;
        width: 35%;
    }
    
    .filtroanofinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtroanofinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroanofinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrovalorinicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtrovalorinicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtrovalorinicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrovalorinicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrovalorfinal {
        float: right;
        width: 35%;
    }
    
    .filtrovalorfinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtrovalorfinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrovalorfinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrokminicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtrokminicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtrokminicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrokminicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrokmfinal {
        float: right;
        width: 35%;
    }
    
    .filtrokmfinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtrokmfinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrokmfinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrar {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: rgb(255, 255, 255);
        background-color: #363636;
        border: solid 2px #363636;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1000px) {
    .full2 {
        display: none!important;
    }
}


.vendas{
    width: 65%;
    margin-left: 30%;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #c2c2c2;
    border-radius: 15px;
}

.vendas h1 {
    margin-left: 100px;
    margin-top: 100px;
    color: #000000;
}

@media screen and (max-width: 1000px){
    .vendas{
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding-top: 50px;
    }
    
    
    .modelos {
        padding: 0px;
        width: 90%;
        margin: auto;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}


/* FORMULARIO */

.formulario {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom left;
    width: 100%;
}

.textformulario {
    width: 70%;
    margin: auto;
    height: 150px;
    margin-top: 120px;
    padding-top: 50px;
}

.textformulario h2 {
    letter-spacing: normal;
    color: #000000;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 10px;
}

.form {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.button {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 38px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
}

.buttonactive {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 38px;
    color: #fbfbfb;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
    cursor: pointer;
}

.buttonactive:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fbfbfb;
    border: solid 2px black;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
  }
  
label {
    color: #383838;
    font-size: 11px;
    font-weight: 400;
}

.checklgpd {
    background-color: none;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    margin-left: 3.3%;
    width: 93%;
}

fieldset {
    display: block;
    width: 100%;
    border: solid 2px #000000;;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

input::placeholder {
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}

.field{
    padding-left: 10px;
    background-color: transparent;
    width: 15%;
    height: 36px;
    margin-top: 10px;
    margin-right: 0vw;
    margin-left: 3%;
    justify-content: space-around;
    border: solid 1px rgb(169, 169, 169);
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .formulario {
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: bottom left;
        width: 100%;
        height: 700px;
    }
    
    .textformulario {
        width: 70%;
        margin: auto;
        height: 150px;
        margin-top: 100px;
        font-size: 12px;
    }
    
    .textformulario h2 {
        letter-spacing: normal;
        color: #000000;
        font-size: 13.6px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .form {
        display: flex;
        justify-content: space-around;
        width: 70%;
        height: 320px;
        padding: 0;
    }
    
    .button {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
    }

    .buttonactive {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
        cursor: pointer;
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .checklgpd {
        display: inline-block;
        position: relative;
        margin-left: 0;
        width: 93%;
        line-height: 15px;
    }
    
    fieldset {
        width: 100%;
        border: solid 1px black;
        padding-top: 5%;
        padding-left: 6vw;
        padding-bottom: 300px;
        padding-right: 0px;
        border-radius: 15px;
        margin-bottom: 100px;
    }
    
    input::placeholder {
        color: #000000;
        font-weight: 600;
        font-size: 14px;
    }
    
    .field{
        display: flex;
        all: unset;
        background-color: transparent;
        width: 26vw;
        margin-top: 1.4vw;
        margin-bottom: 20px;
        margin-right: 3.9vw;
        border: solid 2px black;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        font-weight: 600;
    }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 3.8rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.footer-list .footer-link:hover {
    opacity: 0.7;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    margin-top: 0px;
    background-color: transparent;
    margin-left: 0px;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

#input_group input::placeholder {
    color: #969696;
    font-size: 14px;
    font-size: 400;
}

.buttonsubscribe {
    all: unset;
    color: rgb(68, 68, 68);
    margin-left: 25px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 1.25rem;
    font-size: 1px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.buttonsubscribeactive {
    all: unset;
    color: white;
    margin-left: 25px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 1.25rem;
    font-size: 1px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.buttonsubscribeactive:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fbfbfb;
    border: solid 2px rgb(0, 0, 0);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}


