* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

	
body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo2{
    display: none;
}

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
}

.nav-list {
    display: block;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 10px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: space-between;
    border: 1px solid rgba(60, 54, 54, 0);
    font-weight: 350;
    transition: all 0.3s;
}

.mobile-menu .nav-item:hover {
    background-color: #d3d3d32d;
    padding: 10px 10px 10px 15px;
}

.mobile-menu .nav-item-icons {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 50px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: center;
}

.mobile-menu .nav-item-icons i{
    display: flex;
    font-size: 19.5px;
    justify-content: space-evenly;
    transition: all 0.3s;
    color: #000000;
    font-size: 22px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.mobile-menu .nav-item-icons i:hover{
    display: flex;
    justify-content: space-evenly;
    background-color: #c6c6c65e;
}

.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}

.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        width: 100%;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 10px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid rgba(60, 54, 54, 0);
        font-weight: 350;
    }

    .mobile-menu .nav-item-icons {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 50px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: center;
    }

    .mobile-menu .nav-item-icons i{
        display: flex;
        font-size: 19.5px;
        justify-content: space-evenly;
        color: #000000;
        font-size: 22px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
    }

    .mobile-menu .nav-item-icons i:hover{
        background-color: transparent;
        color: unset;
    }

    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    .open {
        display: block;
        z-index: 7000;
    }
}  

@media screen and (min-width = 1000px) {
    .open {
        display: none;
        z-index: 7000;
    }

    .menu-open{
        display: none;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
}

.buttonsnav {
    color: rgb(0, 0, 0);
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
}

.buttonsnav:hover {
    background-color: rgb(236, 236, 236);
    
}

.buttonsnav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
}

.principal{
    position: relative;
    width: 100%;
    height: 710px;
}

.arrowbottomcentralizadora{
    margin-top: 620px;
    height: 20px;
    position: absolute;
    background-color: none;
    width: 100%;
    animation: pulse 2s ease infinite;
    z-index: 1000;
    
}

#arrowbottom{
    position: relative;
    max-height: 20px;
    display: flex;
    margin: auto;
}

.arrowbottomnone{
    height: 20px;
    margin-top: 620px;
    position: absolute;
    background-color: none;
    width: 100%;
    animation: pulse2 0.5s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes pulse {
    0% {
        transform: translate(0%, 30%);
    }
    20% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(0%, 30%);
    }

    40% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(0%, 30%);
    }

    60% {
        transform: translate(0%, 0%);
    }

    80% {
        transform: translate(0%, 30%);
    }

    100% {
        transform: translate(0%, 30%);
    }
}

@keyframes pulse2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.imgcarprincipal {
    background-image: url(imgs/porsche-model5.png);
    background-size: 1200px;
    background-position: 720px -25px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.texturatc {
    background-image: url(imgs/texturatc.png);
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: 10% 0%;
    position: absolute;
    z-index: -10;
    width: 30%;
    margin-left: 70%;
    height: 100%;
    opacity: 0.4;
}

.buttonsestoqueanunciar {
    display: none;
}

.textprincipal {
    display: flex;
    position: absolute;
    background-color: none;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.textprincipal h2{
    display: block;
    letter-spacing: -4px;
    line-height: 110px;
    z-index: -2;
    font-size: 95px;
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-top: 135px;
    font-weight: 700;
}

.textprincipal p{
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-left: 10.5%;
    font-weight: 400;
    height: 60px;
    transform: translate(0%, 800%);
    z-index: 4500;
}

.textprincipal2 {
    display: none;
}

.bold:hover {
    color: #2c2c2c;
    transition: all 0.3s;
}

@media screen and (max-width: 1000px) {
    .principal{
        background-size: cover;
        background-position: 50% 20%;
        margin-top: -20px;
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        height: 600px;
    }
    
    .arrowbottomcentralizadora{
        display: none;
    }
    
    #arrowbottom{
        display: none;
    }    

    .imgcarprincipal {
        background-size: 1100px;
        background-position: 50px 80px;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
    }
    
    .texturatc {
        position: absolute;
        background-image: url(imgs/texturatc.png);
        background-size: 550px;
        background-repeat: no-repeat;
        background-position: 15% 15%;
        z-index: -3000;
        background-color: #fbfbfb;
        width: 30%;
        margin-left: 70%;
        height: 100%;
        opacity: 0.4;
    }

    .textprincipal {
        display: flex;
        background-color: none;
        height: 43%;
        width: 100%;
    }
    
    .textprincipal h2{
        display: block;
        letter-spacing: -4px;
        line-height: 60px;
        z-index: -2;
        font-size: 55px;
        color: rgb(27, 27, 27);
        margin-left: 10%;
        margin-top: 40px;
        font-weight: 700;
        height: 60px;
    }

    .buttonsestoqueanunciar {
        display: block;
        position: absolute;
        width: 63%;
        margin: auto;
        margin-top: 8px;
        justify-content: space-a;
        margin-bottom: 30px;
        z-index: 100000;
        margin-left: 10%;
    }
    
    .textprincipal p{
        all: unset;
        position: absolute;
        line-height: 25px;
        font-size: 16px;
        color: rgb(0, 0, 0);
        margin-top: -270px;
        margin-left: 10.5%;
        font-weight: 400;
        height: 60px;
        z-index: 4500;
        transform: translate(0%, 835%);
    }

    .acessarestoque {
        display: inline-block;
        background-size: 12.5px;
        background-position: 85% 55%;
        background-color: black;
        background-repeat: no-repeat;
        color: white;
        padding: 5px 20px 6px 20px;
        transition: all 0.3s;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1.5px black inset;
        font-weight: 600;
        font-size: 14px;
    }  

    .acessarestoque:hover {
        background-size: 12.5px;
        background-position: 90% 55%;
        background-color: #212121;
        box-shadow: 0px 0px 0px 1.5px #212121 inset;
        
    }

    .acessaranunciar {
        display: inline-block;
        background-size: 12.5px;
        background-position: 85% 55%;
        background-color: transparent;
        background-repeat: no-repeat;
        color: rgb(0, 0, 0);
        padding: 5px 20px 6px 20px;
        
        border-radius: 20px;
        box-shadow: 0px 0px 0px 1.5px black inset;
        cursor: pointer;
        font-weight: 600;
        font-size: 13.5px;
        margin-left: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    .acessaranunciar:hover {
        background-size: 12.5px;
        background-position: 90% 55%;
        background-color: black;
        color: white;
        transition: all 0.3s;
    }
}

.textmodelos {
    padding-top: 0px;
    width: 70%;
    margin: auto;
}

.modelos {
    position: relative;
    width: 70%;
    height: 15vw;
    margin: auto;
    margin-top: 50px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.arrowrightmodelos{
    width: 15px;
    margin-top: 7px;
    margin-right: 40px;
    float: right;
    box-sizing: border-box;
    transition: all 0.2s;
}

.arrowrightmodelos:hover{
    cursor: pointer;
    margin-right: 37px;
    
}

.combustao {
    background-image: url(imgs/rs62.jpg);
    background-size: 22vw;
    background-position: center;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
    
}

.combustao:hover {
    background-size: 22.2vw;
    transition: 0.4s;
}

.textcombustao {
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.textcombustao p {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
}

.hibrido {
    background-image: url(imgs/rangerover4.jpg);
    background-size: 22vw;
    background-position: center;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
    
}

.hibrido:hover {
    background-size: 22.2vw;
    transition: all 0.4s;
}

.texthibrido {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 25px;
}

.texthibrido p {
    position: absolute;
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
}

.eletrico {
    background-image: url(imgs/seal2.jpg);
    background-size: 22vw;
    background-position: center;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
}

.eletrico:hover {
    background-size: 22.2vw;
    transition: all 0.4s;
}

.texteletrico {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 25px;
}

.texteletrico p {
    position: absolute;
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
}

@media screen and (max-width: 1000px) {
    .textmodelos {
        padding-top: 40px;
        width: 70%;
        margin: auto;
    }

    .textmodelos h1 {
        font-size: 25px;
    }
    
    .modelos {
        position: relative;
        padding-top: 30px;
        width: 70%;
        height: 156vw;
        margin: auto;
        background-color: none;
        justify-content: flex-end;
        display: block;
        border-radius: 15px;
    }
    
    #arrowrightmodelos{
        width: 13.5px;
        margin-top: 7px;
        margin-right: 40px;
        float: right;
        box-sizing: border-box;
        transition: all 0.5s;
    }
    
    .combustao {
        background-image: url(imgs/rs62.jpg);
        background-size: 73vw;
        background-repeat: no-repeat;
        background-position: 40% 80%;
        height: 50vw;
        width: 100%;
        position: relative;
        border-radius: 15px;
        
    }

    .combustao:hover {
        background-size: 73.8vw;
    }
    
    .textcombustao {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
    
    .textcombustao p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
    
    .hibrido {
        background-image: url(imgs/rangerover4.jpg);
        background-size: 73vw;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vw;
        width: 100%;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        margin: auto;
        margin-top: 3vw;
    }

    .hibrido:hover {
        background-size: 73.8vw;
    }
    
    .texthibrido {
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 30px;
    }
    
    .texthibrido p {
        position: absolute;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
    
    .eletrico {
        background-image: url(imgs/seal2.jpg);
        background-size: 73vw;
        background-position: 80% 50%;
        background-repeat: no-repeat;
        height: 50vw;
        width: 100%;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        margin: auto;
        margin-top: 3vw;
    }

    .eletrico:hover {
        background-size: 73.8vw;
    }
    
    .texteletrico {
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 30px;
    }
    
    .texteletrico p {
        position: absolute;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
}

.formulario {
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom left;
    width: 100%;
}

.textformulario {
    width: 70%;
    margin: auto;
    height: 150px;
    margin-top: 120px;
}

.textformulario h2 {
    letter-spacing: normal;
    color: #000000;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 10px;
}

.form {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.button {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 38px;
    color: rgb(68, 68, 68);
    border-radius: 7px;
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
}

.buttonactive {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 38px;
    color: #fbfbfb;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;

}

.buttonactive:hover {
    background-color: transparent;
    color: black;
    border: solid 2px rgb(0, 0, 0);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
  }
  
label {
    color: #383838;
    font-size: 11px;
    font-weight: 400;
}

.checklgpd {
    background-color: none;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    margin-left: 3.3%;
    width: 93%;
}

fieldset {
    display: block;
    width: 100%;
    border: solid 1px #000000;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

input::placeholder {
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}

.field{
    padding-left: 10px;
    background-color: transparent;
    width: 14%;
    height: 36px;
    margin-top: 10px;
    margin-right: 0vw;
    margin-left: 3%;
    justify-content: space-around;
    border: solid 1px rgb(169, 169, 169);
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .formulario {
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: bottom left;
        width: 100%;
    }
    
    .textformulario {
        width: 70%;
        margin: auto;
        height: 109px;
        margin-top: 100px;
        
    }

    .textformulario h1 {
        font-size: 25px;
    }
    
    .textformulario h2 {
        letter-spacing: normal;
        color: #000000;
        font-size: 13.6px;
        font-weight: 600;
        margin-top: 10px;

    }
    
    .form {
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        width: 70%;
        padding: 0;
    }
    
    .button {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
    }

    .buttonactive {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        cursor: pointer;
    }

    .buttonactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .checklgpd {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        margin-left: 0;
        width: 99%;
        text-align: justify;
        line-height: 15px;
    }
    
    fieldset {
        width: 100%;
        padding-top: 8%;
        padding-left: 6vw;
        padding-bottom: 8%;
        padding-right: 6vw;
        border-radius: 15px;

    }
    
    input::placeholder {
        color: #969696;
        font-weight: 600;
        font-size: 14px;
    }
    
    .field{
        background-color: transparent;
        width: 42%;
        height: 36px;
        margin-top: 1.4vw;
        margin-bottom: 10px;
        margin-left: 0px;
        border: solid 1px #969696;
        font-weight: 600;
        border-radius: 5px;
        padding-left: 10px; 
    }

    #modelo {
        float: left;
    }

    #nome {
        float: right;
    }

    #numero {
        float: left;
    }

    #email {
        float: right;
    }
}

.textnovidade {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 120px;
}

.novidades {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 0px;
    text-align: center;
    margin-top: 50px;
    width: 70%;
    margin: auto;
    height: 25vw;
    border-radius: 10px;
    margin-bottom: 50px;
}

.foto1 {
    background-image: url(imgs/macan.jpeg);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: center;
    width: 45.6vw;
    height: 100%;
    border-radius: 15px;
    
}

.foto1:hover {
    background-size: 50.3vw;
    transition: all 0.4s;
}

.texto1 {
    background-image: url(imgs/interiormacan2.jpg);
    background-size: 700px;
    background-position: 20% 50%;
    height: 100%;
    width: 21.5vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    
}

.texto1:hover {
    background-size: 710px;
    transition: all 0.4s;
}

.texto1 h1 {
    font-size: 1.22vw;
    color: white;
    padding: 0;
    margin-top: 5vw;
}

.texto1 p {
    letter-spacing: 0px;
    margin-top: 0;
    font-size: 1vw;
    color: white;
    margin-left: 3.3vw;
    margin-right: 3.3vw;
    text-align: justify;
    transform: translate(0, -15%);
    font-weight: 500;
    padding-top: 4vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1000px) {
    .textnovidade {
        font-size: 12px;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    .novidades {
        display: block;
        padding-top: 0px;
        text-align: center;
        margin-top: 50px;
        width: 70%;
        margin: auto;
        height: 70vw;
        border-radius: 10px;
        margin-bottom: 50px;
    }
    
    .foto1 {
        background-size: 90vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 60%;
        border-radius: 15px;
        
    }

    .foto1:hover {
        background-size: 91vw;
    }
    
    .texto1 {
        margin-top: 3vw;
        padding-top: 1vw;
        background-size: 85vw;
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        
    }
    
    .texto1:hover {
        background-size: 86vw;
    }
    
    .texto1 h1 {
        letter-spacing: .65vh;
        font-size: 2.5vw;
        color: white;
        padding: 0;
        margin-top: 4vw;
    }
    
    .texto1 p {
        letter-spacing: 0px;
    margin-top: 10px;
    font-size: 2.5vw;
    color: white;
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: justify;
    transform: translate(0, -15%);
    font-weight: 500;
    padding-top: 5%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
}

.textvendas {
    width: 70%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
}

.vendas {
    width: 70%;
    height: 15vw;
    margin: auto;
    position: relative;
    background-color: none;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.checked {
    width: 15px;
    margin-top: 7px;
    margin-right: 40px;
    float: right;
    box-sizing: border-box;
}

.venda1 {
    background-image: url(imgs/ram3.jpg);
    background-size: 22vw;
    background-position: center;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
    
}

.venda1:hover {
    background-size: 22.2vw;
    transition: all 0.4s;
}

.textvenda1 {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 25px;
}

.textvenda1 p {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
}

.venda2 {
    background-image: url(imgs/sw42.jpeg);
    background-size: 27.7vw;
    background-position: 50% 50%;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
    
}

.venda2:hover {
    background-size: 27.9vw;
    transition: all 0.4s;
}

.textvenda2 {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 25px;
}

.textvenda2 p {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
}

.venda3 {
    background-image: url(imgs/jet2.jpg);
    background-size: 22vw;
    background-position: center;
    height: 15vw;
    width: 22vw;
    position: relative;
    border-radius: 15px;
}

.venda3:hover {
    background-size: 22.2vw;
    transition: all 0.4s;
}

.textvenda3 {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 25px;
}

.textvenda3 p {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
}

@media screen and (max-width: 1000px) {
    .textvendas {
        width: 70%;
        margin: auto;
        font-size: 12px;
        margin-top: 100px;
    }
    
    .vendas {
        position: relative;
        width: 70%;
        height: 156vw;
        margin: auto;
        margin-top: 30px;
        background-color: none;
        justify-content: flex-end;
        display: block;
        border-radius: 15px;
    }
    
    .venda1 {
        background-size: 75vw;
        background-position: 40% 80%;
        height: 50vw;
        width: 100%;
        position: relative;
        border-radius: 15px;
    }

    .venda1:hover {
        background-size: 76vw;
    }
    
    .textvenda1 {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
    
    .textvenda1 p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
    
    .venda2 {
        background-size: 95vw;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vw;
        width: 100%;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        margin: auto;
        margin-top: 3vw;
    }
    
    .venda2:hover {
        background-size: 96vw;
    }
    
    .textvenda2 {
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 30px;
    }
    
    .textvenda2 p {
        position: absolute;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
    
    .venda3 {
        background-size: 75vw;
        background-position: center;
        height: 50vw;
        width: 100%;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        margin: auto;
        margin-top: 3vw;
    }
    
    .venda3:hover {
        background-size: 76vw;
    }
    
    .textvenda3 {
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 30px;
    }
    
    .textvenda3 p {
        position: absolute;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
    }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 1.95rem;
    margin-top: 1.2rem;
} 

#footer_social_media i {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

#footer_social_media i:hover {
    background-color: #c6c6c65e;
}

i.fa-brands.fa-facebook-f:hover {
    color: rgb(0, 68, 177);
    transition: all 0.2s;
}

i.fa-brands.fa-youtube:hover {
    color: red;
    transition: all 0.2s;
}

i.fa-brands.fa-whatsapp:hover{
    color: rgb(0, 193, 48);
    transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
    #footer_social_media i:hover {
        background-color: transparent
    }

    i.fa-brands.fa-facebook-f:hover {
        color: unset;
    }
    
    i.fa-brands.fa-youtube:hover {
        color: unset;
    }
    
    i.fa-brands.fa-whatsapp:hover {
        color: unset;
    }
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    
}

.footer-list .footer-link:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    margin-top: 0px;
    background-color: transparent;
    margin-left: 0px;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

#input_group input::placeholder {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
}

.buttonsubscribe {
    all: unset;
    color: rgb(68, 68, 68);
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    font-size: 1px;
    height: 30px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 7px;
    margin-left: 15px;
    transition: all 0.3s;
}

.buttonsubscribeactive {
    all: unset;
    color: white;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    font-size: 1px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
    margin-left: 15px;
}

.buttonsubscribeactive:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .footer-list .footer-link:hover {
        opacity: 1;
        transition: all 0.3s;
    }

    .buttonsubscribeactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
    }
}