@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

hr {
    margin: 110px 10vw 0px 10vw ;
}

input:focus,
textarea:focus {
  border-color: #000000; /* Cor da borda ao clicar */
  outline: none; /* Remove a borda padrão de foco do navegador */
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

	
body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
}

.nav-list {
    display: block;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo-2{
    display: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
}

.open{
    display: block;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 10px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: space-between;
    transition: all 0.3s;
    border: 1px solid rgba(60, 54, 54, 0);
    font-weight: 350;
}

.mobile-menu .nav-item-icons {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 50px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: center;
}

.mobile-menu .nav-item-icons i{
    display: flex;
    font-size: 19.5px;
    justify-content: space-evenly;
    color: #000000;
    font-size: 22px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}

.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo-2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
    }
    
    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        width: 100%;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 10px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid rgba(60, 54, 54, 0);
        font-weight: 350;
    }
    
    .mobile-menu .nav-item-icons {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 50px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: center;
    }

    .mobile-menu .nav-item-icons i{
        display: flex;
        font-size: 19.5px;
        justify-content: space-evenly;
        color: #000000;
        font-size: 22px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
    }


    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    .open {
        display: block;
        z-index: 7000;
        animation: fade 0.25s;
    }

    .menu-closed {
        transform: translate(-100%);
        display: block;
        z-index: 7000;
        animation: fade-2 0.25s;
    }

    @keyframes fade {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(0%);
        }
    }

    @keyframes fade-2 {
        0% {
            transform: translate(0%);
        }
        100% {
            transform: translate(-100%);
        }
    }
}  

.buttons-nav {
    color: rgb(0, 0, 0);
    padding: 3px 15px 3px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.3s;
    border-radius: 15px;
}

.buttons-nav:hover {
    background-color: rgb(236, 236, 236);
}

.buttons-nav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 500;
    font-size: 14px;
}

.current-nav {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 3px 15px 3px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
}

.current-nav p {
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.6s;
}

.anunciar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 0px 5px 5px 20px;
    background-repeat: no-repeat;
    width: 77px;
    text-align: left;
    float: right;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: all 0.3s;
}

.anunciar p{
    display: inline;
    font-weight: 600;
    font-size: 15px;
}

.anunciar:hover {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    box-shadow:0px 0px 0px 1px black inset;
}

.home-screen{
    background-image: url(imgs/m2.png);
    background-repeat: no-repeat;
    background-size: 950px;
    background-position: 54vw 100%;
    display: flex;
    margin: auto;
    width: 100%;
    height: 495px;
    flex-direction: column;
}

.home-screen-text {
    margin: auto;
    width: 40%;
    color: black;
    height: 40px;
    margin-left: 10.5%;
    margin-top: 40px;
    margin-bottom: 25px;
}

.home-screen-text h1 {
    font-size: 32px;
}

.actions {
    margin-top: 20px;
    margin-left: 10.5%;
}

.actions ul {
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    width: 30%;
}

.actions ul li {
    background-image: url(imgs/chevron-right-svgrepo-com2\ \(2\).svg);
    background-size: 15px;
    background-position: 88% 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 18px 18px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.3s;
}

.actions p {
    font-size: 15px;
    font-weight: 400;
}

#instagramcontato {
    margin-bottom: 0px;
}

.actions ul li:hover {
    background-image: url(imgs/chevron-right-svgrepo-com\ \(1\).svg);
    background-position: 92% 50%;
    transform: translate(0.7%, 0%);
}


@media screen and (max-width: 1000px) {
    .home-screen{
        background-image: none;
        display: flex;
        margin: auto;
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
        height: 365px;
    }
    
    .home-screen-text {
        margin: auto;
        width: 100%;
        color: black;
        height: 60px;
        margin-left: 15%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .home-screen-text h1 {
        font-size: 28px;
    }

    .actions {
        width: 70%;
        margin-top: 0px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
    }
    
    .actions ul {
        list-style-type: none;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    
    .actions ul li {
        background-image: none;
        background-position: 88% 50%;
        width: 88%;
        padding: 20px 20px;
        color: white;
        background-color: rgb(0, 0, 0);
        margin-bottom: 15px;
        border-radius: 20px;
        font-weight: 300;
        transition: all 0.3s;
        font-size: 14.5px;
    }
    
    .actions ul li:hover {
        background-image: none;
        background-position: 88% 50%;
        transform: translate(0%, 0%);
        color: rgb(255, 255, 255);
    }

}

#form-register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form {
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom left;
    width: 100%;
}

.text-form {
    width: 70%;
    margin: auto;
    height: 150px;
    margin-top: 5px;
    font-size: 14px;
    height: min-content;
    margin-bottom: 50px;
}

.text-form h1 {
    font-weight: 600;
}

.text-form h2 {
    letter-spacing: normal;
    color: #404040;
    font-size: 13.6px;
    font-weight: 500;
    margin-top: 10px;
}

.form-inputs {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.button {
    font-size: 14px;
    font-weight: 500;
    width: 18%;
    height: 38px;
    color: rgb(68, 68, 68);
    border-radius: 7px;
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
}

.buttonactive {
    font-size: 14px;
    font-weight: 500;
    width: 18%;
    height: 38px;
    color: #fbfbfb;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;
}

.buttonactive:hover {
    background-color: transparent;
    color: black;
    border: solid 2px rgb(0, 0, 0);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
  }
  
label {
    color: #383838;
    font-size: 11px;
    font-weight: 400;
}

.check-lgpd {
    background-color: none;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    margin-left: 2%;
    width: 93%;
}

fieldset {
    display: block;
    width: 100%;
    border: solid 1px rgb(169, 169, 169);;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

input::placeholder {
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}

.field{
    padding-left: 10px;
    background-color: transparent;
    width: 15%;
    height: 36px;
    border: solid 1px rgb(169, 169, 169);
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {

    #form-register {
        all: unset;
    }

    .form {
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: bottom left;
        width: 100%;
    }
    
    .text-form {
        width: 70%;
        margin: auto;
        height: min-content;
        margin-top: 100px;
    }

    .text-form h1 {
        font-size: 25px;
    }
    
    .text-form h2 {
        letter-spacing: normal;
        color: #404040;
        font-size: 13.6px;
        font-weight: 500;
        margin-top: 10px;

    }
    
    .form-inputs {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        width: 70%;
        padding: 0;
    }
    
    .button {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
    }

    .buttonactive {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
        cursor: pointer;
    }

    .buttonactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .check-lgpd {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        margin-left: 0;
        width: 99%;
        text-align: justify;
        line-height: 15px;
    }
    
    fieldset {
        width: 100%;
        padding-top: 8%;
        padding-left: 6vw;
        padding-bottom: 8%;
        padding-right: 6vw;
        border-radius: 15px;
    }
    
    input::placeholder {
        color: #969696;
        font-weight: 500;
        font-size: 14px;
    }
    
    .field{
        background-color: transparent;
        width: 42%;
        height: 36px;
        margin-top: 1.4vw;
        margin-bottom: 10px;
        margin-left: 0px;
        border: solid 1px #969696;
        font-weight: 600;
        padding-left: 10px; 
    }

    #model {
        float: left;
    }

    #name {
        float: right;
    }

    #number {
        float: left;
    }

    #email {
        float: right;
    }
}

footer {
    width: 100%;
    color: #000000;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 30px 7.5vw;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts {
    margin: auto;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 500;
    font-size: 13px;
}

#footer_social_media {
    display: flex;
    gap: 1.95rem;
    margin-top: 1.2rem;
} 

#footer_social_media i {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

#footer_social_media i:hover {
    background-color: #c6c6c65e;
}

i.fa-brands.fa-facebook-f:hover {
    color: rgb(0, 68, 177);
    transition: all 0.2s;
}

i.fa-brands.fa-youtube:hover {
    color: red;
    transition: all 0.2s;
}

i.fa-brands.fa-whatsapp:hover{
    color: rgb(0, 193, 48);
    transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
    #footer_social_media i:hover {
        background-color: transparent
    }

    i.fa-brands.fa-facebook-f:hover {
        color: unset;
    }
    
    i.fa-brands.fa-youtube:hover {
        color: unset;
    }
    
    i.fa-brands.fa-whatsapp:hover {
        color: unset;
    }
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
    margin: auto;
}

.footer-list h3 {
    font-size: 13px;
    font-weight: 700;
}

.footer-list a {
    font-size: 13px;
    font-weight: 500;
}

#footer_subscribe h3 {
    font-size: 13px;
    font-weight: 700;
}

#footer_subscribe p {
    font-weight: 500;
    font-size: 13px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    
}

.footer-list .footer-link:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: auto;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    margin-top: 0px;
    background-color: transparent;
    margin-left: 0px;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 7px;
    font-weight: 600;
    font-size: 13px;
    padding-left: 10px;
}

#input_group input:focus {
    border-color: #000000; /* Cor da borda ao clicar */
    outline: none; /* Remove a borda padrão de foco do navegador */
}

#input_group input::placeholder {
    color: #969696;
    font-size: 13px;
    font-weight: 400;
}

.subscribe {
    display: flex;
}

.buttonsubscribe {
    all: unset;
    display: inline-flex;
    justify-content: baseline;
    color: rgb(68, 68, 68);
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    height: 30px;
    font-weight: 300;
    font-size: 13px;
    border-radius: 7px;
    margin-left: 15px;
    transition: all 0.3s;
}

.buttonsubscribe img {
    width: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}

.buttonsubscribeactive {
    all: unset;
    color: white;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 13px;
    border-radius: 7px;
    margin-left: 15px;
}

.buttonsubscribeactive img {
    width: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition:  transform 0.1s ease-in-out;
}

.buttonsubscribeactive:hover {
    transform: translate(5%, 0%);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    font-size: 0.75rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 80%;
        margin: auto;
    }

    .footer-list .footer-link:hover {
        opacity: 1;
        transition: all 0.3s;
    }

    .buttonsubscribeactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transform: translate(0%, 0%);
    }

    #footer_contacts {
        margin: 0;
    }

    #footer_subscribe {
        margin: 0;
    }

    .footer-list {
        margin: 0;
    }

    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: #fbfbfb;
        font-size: 0.7rem;
        padding: 1.5rem;
        padding-top: 0;
        font-weight: 400;
    }
}
