* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    width: 100%;
}

/* BARRA NAV */

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
    z-index: 5000;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
    
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo2{
    display: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-weight: 500;
    padding: 0px 10px;
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #000000; /* Cor do texto do link */
}

.acessarestoque2 {
    display: none;
}

.buttonsnav {
    color: rgb(0, 0, 0);
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    animation: pulse 2.5s ease infinite;
}

.buttonsnav:hover {
    background-color: rgb(236, 236, 236);
    transition: all 0.3s;
    animation: pulse 2.5s ease infinite;
}

.buttonsnav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.buttonhome {
    color: rgb(0, 0, 0);
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow:0px 0px 0px 1px black inset;
}

.buttonhome:hover {
    background-color: rgb(236, 236, 236);
    box-shadow:0px 0px 0px 1px black inset;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    top: 0;
    z-index: 0;
}

.open{
    display: block;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none; /* Remove os marcadores de lista */
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
        
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        width: 100%;
        max-width: 700px;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 15px 30px 15px 30px;
        display: flex;
        margin: 10px 7% 10px 7%;
        font-size: 17px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid #cccccc;
    }
    
    .mobile-menu .nav-item:hover {
        border: 1px solid rgb(123, 123, 123);
        cursor: pointer;
        transform: translate(1%, 0%);
        
    }
    
    .mobile-menu .nav-item a{
        font-weight: 600;
    }
    
    
    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    
    .open {
        display: block;
        z-index: 7000;
    }
}  

.principal{
    margin: auto;
    width: 70%;
    height: 200px;
    margin-bottom: 50px;
}

.principaltext {
    position: relative;
    font-size: 35px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    font-weight: 700;
    padding-top: 100px;
}

.buttonabrirfiltrar {
    display: none;
}

@media screen and (max-width: 1000px) {
    .buttonabrirfiltrar {
        display: block;
        float: right;
        height: 50px;
        margin-right: 15%;
        margin-top: 110px;
    }

    .principal{
        display: inline-block;
        margin: auto;
        width: 40%;
        margin-left: 15%;
        height: 150px;
        margin-bottom: 50px;
    }
    
    .principaltext {
        padding-top: 80px;
        margin: 0;
        font-size: 30px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }

    .showfiltrar {
        background-color: transparent;
        font-size: 20px;
        height: 40px;
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
    }
}

.full {
    position: absolute;
    height: 1950px;
}

@media screen and (max-width: 1395px) {
    .full {
        position: absolute;
        height: 3150px;
    }
}

.full2 {
    display: none;
}


.filtrocar {
    position: sticky;
    top: 15px;
    width: 23%;
    height: 420px;
    margin-left: 40px;
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
    border: 1.5px solid #cccccc;
    box-sizing: border-box;
}



.filtromarcas {
    display: inline-block;
    width: 35%;
}

.filtromarcas label {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636
}

.filtromarcas input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}

.filtromarcas input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtromarcas input:hover {
    cursor: pointer;
}

.dropDown {
    position: absolute;
    width: 100px;
    background-color: #ffffff;
    margin-top: 10px;
    border: none;
    height: 90px;
    overflow: auto;
    display: none;
}

.dropDown::-webkit-scrollbar{
    background-color: #ffffff;
    width: 7px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 0px;
}

.item{
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 14px;
}

.item p {
    font-size: 5px;
}

.item:hover {
    font-weight: 600;
    padding-left: 7px;
}

.filtroblindado {
    position: relative;
    float: right;
    width: 35%;
}

.filtroblindado label {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtroblindado input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroblindado input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtroblindado input:hover {
    cursor: pointer;
}

.dropDown2 {
    position: absolute;
    width: 100px;
    background-color: #ffffff;
    margin-top: 10px;
    border: none;
    height: 90px;
    overflow: auto;
    display: none;
}

.item2{
    height: 30px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: 0.4s all;
    cursor: pointer;
}

.item2:hover {
    background-color: #121212;
    padding-left: 7px;
}

.filtroanoinicial {
    display: inline-block;
    width: 35%;
}

.filtroanoinicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtroanoinicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroanoinicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.ate {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
    margin-left: 10%;
}

.filtroanofinal {
    float: right;
    width: 35%;
}

.filtroanofinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtroanofinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtroanofinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrovalorinicial {
    display: inline-block;
    width: 35%;
}

.filtrovalorinicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtrovalorinicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrovalorinicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrovalorfinal {
    float: right;
    width: 35%;
}

.filtrovalorfinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtrovalorfinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrovalorfinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrokminicial {
    display: inline-block;
    width: 35%;
}

.filtrokminicial label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.filtrokminicial input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrokminicial input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrokmfinal {
    float: right;
    width: 35%;
}

.filtrokmfinal label {
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: 700;
    color: #7d7d7d;
}

.filtrokmfinal input {
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: #00000000;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #7d7d7d;
}


.filtrokmfinal input::placeholder {
    color: #7d7d7d;
    font-size: 14px;
}

.filtrar {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: #363636;
    border: solid 2px #363636;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

.filtrar:hover {
    font-weight: 600;
    color: #363636;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #363636;
}



@media screen and (max-width: 1000px) {

    .full {
        display: none;
    }
    
    .full2 {
        display: none;
        height: 380px;
    }
    
    .filtrocar {
        position: relative;
        width: 70%;
        margin: auto;
        height: auto;
        border-radius: 15px;
        padding: 25px 40px 25px 40px;
        border: 1.5px solid #363636;
        box-sizing: border-box;
    }
    
    .filtromarcas {
        display: inline-block;
        width: 35%;
    }
    
    .filtromarcas label {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636
    }
    
    .filtromarcas input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    .filtromarcas input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .dropDown {
        position: absolute;
        width: 100px;
        background-color: #ffffff;
        margin-top: 10px;
        border: none;
        height: 90px;
        overflow: auto;
        display: none;
    }
    
    .dropDown::-webkit-scrollbar{
        background-color: #ffffff;
        width: 7px;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #7d7d7d;
        border-radius: 0px;
    }
    
    .item{
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        transition: 0.2s all;
        cursor: pointer;
        font-size: 14px;
    }
    
    .item p {
        font-size: 5px;
    }
    
    .item:hover {
        font-weight: 600;
        padding-left: 7px;
    }
    
    .filtroblindado {
        position: relative;
        float: right;
        width: 35%;
    }
    
    .filtroblindado label {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtroblindado input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroblindado input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    
    .dropDown2 {
        position: absolute;
        width: 100px;
        background-color: #ffffff;
        margin-top: 10px;
        border: none;
        height: 90px;
        overflow: auto;
        display: none;
    }
    
    .item2{
        height: 30px;
        padding: 0px 5px;
        box-sizing: border-box;
        transition: 0.4s all;
        cursor: pointer;
    }
    
    .filtroanoinicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtroanoinicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtroanoinicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroanoinicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .ate {
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
        margin-left: 10%;
    }
    
    .filtroanofinal {
        float: right;
        width: 35%;
    }
    
    .filtroanofinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtroanofinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtroanofinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrovalorinicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtrovalorinicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtrovalorinicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrovalorinicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrovalorfinal {
        float: right;
        width: 35%;
    }
    
    .filtrovalorfinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtrovalorfinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrovalorfinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrokminicial {
        display: inline-block;
        width: 35%;
    }
    
    .filtrokminicial label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #363636;
    }
    
    .filtrokminicial input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrokminicial input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrokmfinal {
        float: right;
        width: 35%;
    }
    
    .filtrokmfinal label {
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 0.5px;
        font-size: 10px;
        font-weight: 700;
        color: #7d7d7d;
    }
    
    .filtrokmfinal input {
        letter-spacing: 1px;
        height: 30px;
        width: 100%;
        background-color: #00000000;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #7d7d7d;
    }
    
    
    .filtrokmfinal input::placeholder {
        color: #7d7d7d;
        font-size: 14px;
    }
    
    .filtrar {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: rgb(255, 255, 255);
        background-color: #363636;
        border: solid 2px #363636;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1000px) {
    .full2 {
        display: none!important;
    }
}


.vendas{
    width: 75%;
    margin-left: 25%;
    box-sizing: border-box;
}


.modelos {
    padding: 0px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.venda1 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda1:hover {
    transform: translate(0%, -3%);
}

.fotovenda1 {
    background-image: url(imgs/rs6venda.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

#titulocar {
    font-size: 16px; 
    font-weight: 700;
}

#anokm {
    color: #7f7f7f;
    font-size: 13px; 
    font-weight: 600; 
    letter-spacing: 2px; 
    padding-top: 4px;
}

#rs {
    margin-top: 24px;
    position: absolute;
    color: #7f7f7f;
    font-size: 12px; 
    font-weight: 600; 
    letter-spacing: 0px;
}

#preco {
    position: relative;
    font-size: 19px; 
    font-weight: 700; 
    letter-spacing: 0px;
    margin-top: 16.4px;
    margin-left: 37px;
}

.arrowright {
    width: 20px;
    margin-top: 15px;
    margin-left: 20px;
    opacity: .6;
    transition: all 0.3s;
}

.arrowright:hover {
    opacity: 1;
    cursor: pointer;
    transform: translate(5%, 0%);
}

.textvenda1 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda2 {
    height: 350px;
    width: 310px;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda2:hover {
    transform: translate(0%, -3%);
}

.fotovenda2 {
    background-image: url(imgs/golfvenda.jpg);
    background-color: #3c3c3c;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda2 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda3 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda3:hover {
    transform: translate(0%, -3%);
}

.fotovenda3 {
    background-image: url(imgs/rangerovervenda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda3 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda4 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda4:hover {
    transform: translate(0%, -3%);
}

.fotovenda4 {
    background-image: url(imgs/m33.jpg);
    background-color: #3c3c3c;
    background-size: cover;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda4 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda5 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda5:hover {
    transform: translate(0%, -3%);
}

.fotovenda5 {
    background-image: url(imgs/911gt3.jpeg);
    background-color: #3c3c3c;
    background-size: 450px;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda5 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda6 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda6:hover {
    transform: translate(0%, -3%);
}

.fotovenda6 {
    background-image: url(imgs/seal2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda6 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda7 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda7:hover {
    transform: translate(0%, -3%);
}

.fotovenda7 {
    background-image: url(imgs/macangts.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda7 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda8 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda8:hover {
    transform: translate(0%, -3%);
}

.fotovenda8 {
    background-image: url(imgs/sw43.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda8 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda9 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda9:hover {
    transform: translate(0%, -3%);
}

.fotovenda9 {
    background-image: url(imgs/typer7.jpg);
    background-size: 370px;
    background-position: 20% 60%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda9 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda10 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda10:hover {
    transform: translate(0%, -3%);
}

.fotovenda10 {
    background-image: url(imgs/raptor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda10 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda11 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda11:hover {
    transform: translate(0%, -3%);
}

.fotovenda11 {
    background-image: url(imgs/etron.jpg);
    background-size: 360px;
    background-position: 35% 60%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda11 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda12 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda12:hover {
    transform: translate(0%, -3%);
}

.fotovenda12 {
    background-image: url(imgs/m22.jpg);
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda12 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda13 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda13:hover {
    transform: translate(0%, -3%);
}

.fotovenda13 {
    background-image: url(imgs/defender3.jpg);
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda13 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}


.venda14 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda14:hover {
    transform: translate(0%, -3%);
}

.fotovenda14 {
    background-image: url(imgs/turbogt.jpg);
    background-size: 350px;
    background-position: 20% 60%;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda14 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

.venda15 {
    height: 350px;
    width: 310px;
    align-items: top;
    border-radius: 10px;
    border: 1.5px solid #cccccc;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.venda15:hover {
    transform: translate(0%, -3%);
}

.fotovenda15 {
    background-image: url(imgs/gr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
    width: 280px;
    border-radius: 10px;
    margin: 15px 15px 25px 15px;
}

.textvenda15 p {
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1000px){
    .vendas{
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }
    
    
    .modelos {
        padding: 0px;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .venda1 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
    }
    
    .venda1:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda1 {
        background-image: url(imgs/rs6venda.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda1 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda2 {
        height: 350px;
        width: 310px;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
    }
    
    .venda2:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda2 {
        background-image: url(imgs/golfvenda.jpg);
        background-color: #3c3c3c;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda2 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda3 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
    }
    
    .venda3:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda3 {
        background-image: url(imgs/rangerovervenda.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda3 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda4 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda4:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda4 {
        background-image: url(imgs/m33.jpg);
        background-color: #3c3c3c;
        background-size: cover;
        background-position: 90% 50%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda4 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda5 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda5:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda5 {
        background-image: url(imgs/911gt3.jpeg);
        background-color: #3c3c3c;
        background-size: 450px;
        background-position: 70% 50%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda5 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda6 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda6:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda6 {
        background-image: url(imgs/seal2.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda6 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda7 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda7:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda7 {
        background-image: url(imgs/macangts.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda7 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda8 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda8:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda8 {
        background-image: url(imgs/sw43.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda8 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda9 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda9:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda9 {
        background-image: url(imgs/typer7.jpg);
        background-size: 370px;
        background-position: 20% 60%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda9 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda10 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda10:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda10 {
        background-image: url(imgs/raptor.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda10 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda11 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda11:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda11 {
        background-image: url(imgs/etron.jpg);
        background-size: 360px;
        background-position: 35% 60%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda11 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda12 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda12:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda12 {
        background-image: url(imgs/m22.jpg);
        background-size: cover;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda12 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda13 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda13:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda13 {
        background-image: url(imgs/defender3.jpg);
        background-size: 400px;
        background-position: center;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda13 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    
    .venda14 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda14:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda14 {
        background-image: url(imgs/turbogt.jpg);
        background-size: 350px;
        background-position: 20% 60%;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda14 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .venda15 {
        height: 350px;
        width: 310px;
        align-items: top;
        border-radius: 10px;
        border: 1.5px solid #cccccc;
        transition: all 0.5s;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .venda15:hover {
        transform: translate(0%, -3%);
    }
    
    .fotovenda15 {
        background-image: url(imgs/gr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 175px;
        width: 280px;
        border-radius: 10px;
        margin: 15px 15px 25px 15px;
    }
    
    .textvenda15 p {
        letter-spacing: normal;
        text-align: left;
        color: #363636;
        margin-left: 20px;
        margin-bottom: 0px;
    }
}











/* FORMULARIO */

.formulario {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom left;
    width: 100%;
}

.textformulario {
    width: 70%;
    margin: auto;
    height: 150px;
    margin-top: 120px;
    padding-top: 100px;
}

.textformulario h2 {
    letter-spacing: normal;
    color: #000000;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 10px;
}

.form {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.button {
    float: right;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 15%;
    height: 35px;
    color: rgb(68, 68, 68);
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
}

.buttonactive {
    float: right;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 15%;
    height: 35px;
    color: #fbfbfb;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
    cursor: pointer;
}

.buttonactive:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fbfbfb;
    border: solid 2px black;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
  }
  
label {
    color: #000000;
    font-size: 10px;
    font-weight: 400;
}

.checklgpd {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: 3%;
    width: 93%;
}

fieldset {
    display: block;
    width: 100%;
    border: solid 1px black;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 100px;
}

input::placeholder {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.field{
    background-color: transparent;
    width: 13%;
    padding: 3px;
    margin-top: 10px;
    margin-right: 1vw;
    margin-left: 4%;
    justify-content: space-around;
    border: solid 2px black;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .formulario {
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: bottom left;
        width: 100%;
        height: 700px;
    }
    
    .textformulario {
        width: 70%;
        margin: auto;
        height: 150px;
        margin-top: 100px;
        font-size: 12px;
    }
    
    .textformulario h2 {
        letter-spacing: normal;
        color: #000000;
        font-size: 13.6px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .form {
        display: flex;
        justify-content: space-around;
        width: 70%;
        height: 320px;
        padding: 0;
    }
    
    .button {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
    }

    .buttonactive {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
        cursor: pointer;
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .checklgpd {
        display: inline-block;
        position: relative;
        margin-left: 0;
        width: 93%;
        line-height: 15px;
    }
    
    fieldset {
        width: 100%;
        border: solid 1px black;
        padding-top: 5%;
        padding-left: 6vw;
        padding-bottom: 300px;
        padding-right: 0px;
        border-radius: 15px;
        margin-bottom: 100px;
    }
    
    input::placeholder {
        color: #000000;
        font-weight: 600;
        font-size: 14px;
    }
    
    .field{
        display: flex;
        all: unset;
        background-color: transparent;
        width: 26vw;
        margin-top: 1.4vw;
        margin-bottom: 20px;
        margin-right: 3.9vw;
        border: solid 2px black;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        font-weight: 600;
    }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 3.8rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.5;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.footer-list .footer-link:hover {
    opacity: 0.5;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    all: unset;
    padding: 5px;
    width: 50%;
    border: solid 2px rgb(0, 0, 0);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    font-weight: 600;
    font-size: 14px;
}

#input_group input::placeholder {
    color: #000000;
    font-size: 14px;
    font-size: 400;
}

#input_group button {
    color: white;
    margin-left: 25px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 1.25rem;
    font-size: 1px;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
}

#input_group button p {
    font-size: 14px;
}

#input_group button:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    border: solid 2px rgb(0, 0, 0);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}
