* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

	
body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
}

.nav-list {
    display: block;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo2{
    display: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.acessarestoque2 {
    display: none;
    float: right;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(12px);
    background-color: #f0f0f0d1;
    top: 0;
}

.open{
    display: block;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    display: flex;
    margin: 10px 7% 10px 7%;
    font-size: 17px;
    justify-content: space-between;
    transition: all 0.3s;
    border: 1px solid #cccccc;
}

.mobile-menu .nav-item a{
    font-weight: 600;
}


.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}


.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none; /* Remove os marcadores de lista */
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }
    
    .acessarestoque2 {
        display: block;
        background-image: url(imgs/arrowright.png);
        background-size: 12.5px;
        background-position: 85% 55%;
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        color: white;
        padding: 2px 18px 5px 0px;
        width: 75px;
        transition: all 0.3s;
        border-radius: 15px;
        cursor: pointer;
        box-shadow:0px 0px 0px 1.5px black inset;
    }

    .acessarestoque3 {
        display: none;
    }
    
    .acessarestoque2 p{
        font-weight: 600;
        font-size: 13.5px;
    }
    
    
    .acessarestoque2:hover {
        background-image: url(imgs/arrowrightpreto.png);
        background-size: 12.5px;
        background-position: 90% 55%;
        background-color: #fbfbfb;
        color: rgb(0, 0, 0);
        box-shadow:0px 0px 0px 1.5px black inset;
    }


    .acessarestoque2:hover {
        background-image: url(imgs/arrowrightpreto.png);
        background-size: 12.5px;
        background-position: 90% 55%;
        background-color: #fbfbfb;
        color: rgb(0, 0, 0);
        box-shadow:0px 0px 0px 1.5px black inset;
    }

    .arrowrightestoque2{
        max-width: 12px;
        margin-top: 8px;
        color: #ffffff;
        transition: all 0.3s;
        float: right;
        box-sizing: border-box;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        width: 100%;
        max-width: 700px;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 15px 30px 15px 30px;
        display: flex;
        margin: 10px 7% 10px 7%;
        font-size: 17px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid rgb(189, 189, 189);
    }
    
    .mobile-menu .nav-item a{
        font-weight: 600;
    }
    
    
    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    
    .open {
        display: block;
        z-index: 7000;
    }

    .arrowbottomcentralizadora {
        display: none;
    }
}  

@media screen and (min-width = 1000px) {
    .open {
        display: none;
        z-index: 7000;
    }

    .menu-open{
        display: none;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
}

.buttonsnav {
    color: rgb(0, 0, 0);
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.4s;
    border-radius: 15px;
    animation: pulse 2.5s ease infinite;
}

.buttonsnav:hover {
    background-color: rgb(236, 236, 236);
}

.buttonsnav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.navatual {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 0px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
}

.navatual p {
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.acessarestoque {
    background-image: url(imgs/arrowright.png);
    background-size: 13.5px;
    background-position: 90% 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0px 5px 5px 20px;
    background-repeat: no-repeat;
    width: 145px;
    text-align: left;
    float: right;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: all 0.3s;
}

.acessarestoque p{
    display: inline;
    font-weight: 600;
    font-size: 15px;
}

.acessarestoque:hover {
    background-image: url(imgs/arrowrightpreto.png);
    background-size: 13.5px;
    background-position: 95% 50%;
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    box-shadow:0px 0px 0px 1px black inset;
}

.anunciar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 0px 5px 5px 20px;
    background-repeat: no-repeat;
    width: 77px;
    text-align: left;
    float: right;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: all 0.3s;
}

.anunciar p{
    display: inline;
    font-weight: 600;
    font-size: 15px;
}

.anunciar:hover {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    box-shadow:0px 0px 0px 1px black inset;
}

.principal{
    background-image: url(imgs/porsche-model7.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: 230% 65%;
    display: flex;
    margin: auto;
    width: 100%;
    height: 520px;
    flex-direction: column;
}

.principaltext {
    margin: auto;
    width: 40%;
    font-size: 18px;
    color: black;
    height: 60px;
    margin-left: 10%;
    margin-top: 50px;
}

.acoes {
    width: 70%;
    height: 400px;
    margin-top: 20px;
    margin-left: 10%;
}

.acoes ul {
    list-style-type: none; /* Remove os marcadores de lista */
    flex-direction: column;
    margin: 0;
}

.acoes ul li {
    background-image: url(imgs/arrowrightpreto.png);
    background-size: 15px;
    background-position: 87% 50%;
    background-repeat: no-repeat;
    width: 30%;
    padding: 20px 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-bottom: 15px;
    border-radius: 15px;
    font-weight: 300;
    transition: all 0.3s;
}

.acoes ul li:hover {
    background-image: url(imgs/arrowright.png);
    background-size: 15px;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    transform: translate(0.7%, 0%);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
    .principal{
        display: flex;
        margin: auto;
        width: 70%;
        height: 350px;
        margin-bottom: 50px;
    }
    
    .principaltext {
        padding-top: 80px;
        margin: 0;
        font-size: 25px;
        color: rgb(164, 164, 164);
        font-weight: 700;
    }
}

.formulario {
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom left;
    width: 100%;
}

.textformulario {
    width: 70%;
    margin: auto;
    height: 150px;
    margin-top: 5px;
}

.textformulario h2 {
    letter-spacing: normal;
    color: #000000;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 10px;
}

.form {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.button {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 38px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
}

.buttonactive {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
    font-size: 14px;
    font-weight: 500;
    width: 16%;
    height: 36px;
    color: #fbfbfb;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
    cursor: pointer;
}

.buttonactive:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fbfbfb;
    border: solid 2px black;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
  }
  
label {
    color: #808080;
    font-size: 11px;
    font-weight: 400;
}

.checklgpd {
    background-color: none;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    margin-left: 3.3%;
    width: 93%;
}

fieldset {
    display: block;
    width: 100%;
    border: solid 1px #989898;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

input::placeholder {
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.field{
    background-color: transparent;
    width: 15%;
    height: 36px;
    margin-top: 10px;
    margin-right: 0vw;
    margin-left: 3%;
    justify-content: space-around;
    border: solid 1px rgb(169, 169, 169);
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .formulario {
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: bottom left;
        width: 100%;
        height: 700px;
    }
    
    .textformulario {
        width: 70%;
        margin: auto;
        height: 150px;
        margin-top: 100px;
        font-size: 12px;
    }
    
    .textformulario h2 {
        letter-spacing: normal;
        color: #000000;
        font-size: 13.6px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .form {
        display: flex;
        justify-content: space-around;
        width: 70%;
        height: 320px;
        padding: 0;
    }
    
    .button {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
    }

    .buttonactive {
        margin-top: 20px;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 57vw;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
        cursor: pointer;
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .checklgpd {
        display: inline-block;
        position: relative;
        margin-left: 0;
        width: 93%;
        line-height: 15px;
    }
    
    fieldset {
        width: 100%;
        border: solid 1px black;
        padding-top: 5%;
        padding-left: 6vw;
        padding-bottom: 300px;
        padding-right: 0px;
        border-radius: 15px;
        margin-bottom: 100px;
    }
    
    input::placeholder {
        color: #000000;
        font-weight: 600;
        font-size: 14px;
    }
    
    .field{
        display: flex;
        all: unset;
        background-color: transparent;
        width: 26vw;
        margin-top: 1.4vw;
        margin-bottom: 20px;
        margin-right: 3.9vw;
        border: solid 2px black;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        font-weight: 600;
    }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 3.8rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.7;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.footer-list .footer-link:hover {
    opacity: 0.7;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    all: unset;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

#input_group input::placeholder {
    color: #969696;
    font-size: 14px;
    font-size: 400;
}

.buttonsubscribe {
    color: rgb(68, 68, 68);
    margin-left: 25px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 1.25rem;
    font-size: 1px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.buttonsubscribeactive {
    color: white;
    margin-left: 25px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 1.25rem;
    font-size: 1px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.buttonsubscribeactive:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fbfbfb;
    border: solid 2px rgb(0, 0, 0);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

