* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus,
textarea:focus {
  border-color: #000000; /* Cor da borda ao clicar */
  outline: none; /* Remove a borda padrão de foco do navegador */
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}

	
body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
}

.nav-list {
    display: block;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo-2{
    display: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 10px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: space-between;
    transition: all 0.3s;
    border: 1px solid rgba(60, 54, 54, 0);
    font-weight: 350;
}

.mobile-menu .nav-item:hover {
    background-color: #d3d3d32d;
    padding: 10px 10px 10px 15px;
}

.mobile-menu .nav-item-icons {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 50px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: center;
}

.mobile-menu .nav-item-icons i{
    display: flex;
    font-size: 19.5px;
    justify-content: space-evenly;
    color: #000000;
    font-size: 22px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.mobile-menu .nav-item-icons i:hover{
    display: flex;
    justify-content: space-evenly;
    background-color: #c6c6c65e;
}

.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}

.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo-2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
    }
    
    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        width: 100%;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 10px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid rgba(60, 54, 54, 0);
        font-weight: 350;
    }

    .mobile-menu .nav-item-icons {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 50px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: center;
    }

    .mobile-menu .nav-item-icons i{
        display: flex;
        font-size: 19.5px;
        justify-content: space-evenly;
        color: #000000;
        font-size: 22px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
    }

    .mobile-menu .nav-item-icons i:hover{
        background-color: transparent;
        color: unset;
    }

    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    .open {
        display: block;
        z-index: 7000;
        animation: fade 0.2s;
    }

    @keyframes fade {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(0%);
        }
    }
}  

.buttons-nav {
    color: rgb(0, 0, 0);
    padding: 2px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.3s;
    border-radius: 15px;
    animation: pulse 2.5s ease infinite;
}

.buttons-nav:hover {
    background-color: rgb(236, 236, 236);
}

.buttons-nav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.current-nav {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 2px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
}

.current-nav p {
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.home-screen {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
}

.home-screen-text {
    margin: auto;
    width: 80%;
    font-size: 18px;
    color: black;
    height: 60px;
    margin: auto;
    margin-top: 50px;
    
}

.home-screen-text h2{
    letter-spacing: normal;
    color: #000000;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .home-screen{
        display: flex;
        margin: auto;
        width: 75%;
        height: auto;
        margin-bottom: 50px;
    }
    
    .home-screen-text {
        padding-top: 80px;
        margin: 0;
        width: 100%;
        color: rgb(0, 0, 0);
        font-weight: 700;
        height: auto;
    }

    .home-screen-text h1 {
        font-size: 30px;
    }

    .home-screen-text h2 {
        font-size: 13.6px;
    }
}

.form {
    margin-top: 50px;
    width: 100%;
}

.textoform {
    font-size: 15px;
    margin-left: 4%;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 15px;
    width: 100%;
    float: left;
}

.button {
    float: right;
    margin-right: 6.2%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    width: 195px;;
    height: 37px;
    color: rgb(68, 68, 68);
    background-color: #000000;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 7px;
    transition: all 0.3s;
}

.buttonactive {
    float: right;
    margin-right: 6.2%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    width: 15%;
    height: 37px;
    color: #fbfbfb;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
    border-radius: 7px;
    cursor: pointer;
}

.buttonactive:hover {
    background-color: transparent;
    color: black;
    border: solid 2px rgb(0, 0, 0);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    transform: translate(0, 20%);
}
  
label {
    color: #000000;
    font-size: 10px;
    font-weight: 400;
}

.check-lgpd {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 4%;
    width: 93%;
}

fieldset {
    display: block;
    width: 87%;
    margin: auto;
    border: solid 1px transparent;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 100px;
}

input::placeholder {
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}

.field{
    background-color: transparent;
    width: 25%;
    height: 37px;
    margin-top: 10px;
    margin-right: 1.5vw;
    margin-left: 4%;
    margin-bottom: 10px;
    padding-left: 10px;
    justify-content: space-around;
    border: solid 1px #989898;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
}

.field::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.upload {
    list-style: none;
    background-color: transparent;
    height: 47px;
    margin-top: 10px;
    margin-right: 1.5vw;
    margin-left: 4%;
    margin-bottom: 10px;
    border: none;
    font-weight: 400;
    font-size: 11px;
    cursor: pointer;
    width: 340px;
}

input::file-selector-button {
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    height: 37px;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s;
    margin-right: 10px;
    width: 195px;
  }

  input::file-selector-button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
  }

@media screen and (max-width: 1000px) {
    .form {
        width: 75%!important;
        height: 610px;
        margin-top: 0px;
        margin: auto;
    }

    .textoform {
        font-size: 14px;
        margin-left: 0;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #dadosveiculo {
        margin-top: 11px;
        width: 100%;
    }
    
    #dadospessoais {
        margin-top: 11px;
        width: 100%;
    }

    #fotos {
        margin-top: 11px;
    }
    
    .button {
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        float: none;
        height: 40px;
        color: rgb(68, 68, 68);
        background-color: #000000;
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
    }

    .buttonactive {
        margin-right: 0px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 40px;
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transition: all 0.3s;
        cursor: pointer;
    }

    .buttonactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
    }
    
    input[type=checkbox] {
        letter-spacing: 0px;
        cursor: pointer;
      }

    .check-lgpd {
        display: inline-block;
        position: relative;
        margin-left: 0;
        width: 100%;
        line-height: 15px;
        margin-top: 20px;
        text-align: justify;
    }
    
    fieldset {
        width: 75vw;
        border: solid 1px rgba(0, 0, 0, 0);
        padding-top: 0px;
        padding-bottom: 20px;
        border-radius: 15px;
        padding-left: 4%;
        padding-right: 4%;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        height: auto;
    }
    
    fieldset form {
        width: 75vw;
    }
    
    input::placeholder {
        color: #989898;
        font-weight: 400;
        font-size: 13px;
    }
    
    .field{
        background-color: transparent;
        width: 40%;
        height: 37px;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        justify-content: space-around;
        border: solid 1px #989898;
        font-weight: 600;
        font-size: 14px;
    }

    .upload {
        list-style: none;
        background-color: transparent;
        height: 47px;
        margin-top: 10px;
        margin-right: 1.5vw;
        margin-left: 0;
        margin-bottom: 30px;
        border: none;
        font-weight: 400;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
    }
    
    input::file-selector-button {
        background-color: transparent;
        font-weight: 500;
        font-size: 13px;
        color: rgb(0, 0, 0);
        padding-left: 15px;
        padding-right: 15px;
        height: 37px;
        border: 2px solid black;
        cursor: pointer;
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: all 0.3s;
        margin-right: 10px;
        border: 1px solid black;
        width: 147px;
      }
    
      input::file-selector-button:hover {
        background-color: transparent;
        font-weight: 500;
        font-size: 13px;
        color: rgb(0, 0, 0);
        padding-left: 15px;
        padding-right: 15px;
        height: 37px;
        border: 2px solid black;
        cursor: pointer;
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: all 0.3s;
        margin-right: 10px;
        border: 1px solid black;
        width: 147px;
      }

      #marca {
        float: left;
      }

      #versao {
        float: left;
      }

      #ano {
        float: left;
      }

      #modelo {
        float: right;
      }

      #km {
        float: right;
      }

      #valor {
        float: right;
      }

      #nome {
        float: left;
      }

      #email {
        float: right;
      }

      #numero {
        float: left;
      }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 1.95rem;
    margin-top: 1.2rem;
} 

#footer_social_media i {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

#footer_social_media i:hover {
    background-color: #c6c6c65e;
}

i.fa-brands.fa-facebook-f:hover {
    color: rgb(0, 68, 177);
    transition: all 0.2s;
}

i.fa-brands.fa-youtube:hover {
    color: red;
    transition: all 0.2s;
}

i.fa-brands.fa-whatsapp:hover {
    color: rgb(0, 193, 48);
    transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
    #footer_social_media i:hover {
        background-color: transparent
    }

    i.fa-brands.fa-facebook-f:hover {
        color: unset;
    }
    
    i.fa-brands.fa-youtube:hover {
        color: unset;
    }
    
    i.fa-brands.fa-whatsapp:hover {
        color: unset;
    }
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_contacts {
    margin: auto;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
    margin: auto;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.footer-list .footer-link:hover {
    opacity: 0.7;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    all: unset;
    margin-top: 0px;
    background-color: transparent;
    margin-left: 0px;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

#input_group input:focus {
    border-color: #000000; /* Cor da borda ao clicar */
    outline: none; /* Remove a borda padrão de foco do navegador */
}

#input_group input::placeholder {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
}

.subscribe {
    display: flex;
}

.buttonsubscribe {
    all: unset;
    display: inline-flex;
    justify-content: baseline;
    color: rgb(68, 68, 68);
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    font-size: 1px;
    height: 30px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 7px;
    margin-left: 15px;
    transition: all 0.3s;
}

.buttonsubscribe img {
    width: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}

.buttonsubscribeactive {
    all: unset;
    color: white;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px .7rem;
    font-size: 1px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
    margin-left: 15px;
}

.buttonsubscribeactive img {
    width: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition:  transform 0.1s ease-in-out;
}

.buttonsubscribeactive:hover {
    transform: translate(5%, 0%);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 80%;
        margin: auto;
    }

    .footer-list .footer-link:hover {
        opacity: 1;
        transition: all 0.3s;
    }

    .buttonsubscribeactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
        transform: translate(0%, 0%);
    }

    #footer_contacts {
        margin: 0;
    }

    #footer_subscribe {
        margin: 0;
    }

    .footer-list {
        margin: 0;
    }

    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: #fbfbfb;
        font-size: 0.8rem;
        padding: 1.5rem;
        padding-top: 0;
        font-weight: 400;
    }
}