* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    letter-spacing: normal;
}
	
body { 
    background-color: #fbfbfb;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

nav {
    background-color: #fbfbfb;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    float: right;
    margin-right: 10%;
    margin-top: 30px;
    
}

.nav-list {
    display: block;
}

.logo {
    margin-left: 10%;
    margin-top: 30px;
    width: 150px;
    float: left;
}

.logo-2{
    display: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.acessarestoque2 {
    display: none;
    float: right;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
}

.menu-open{
    display: block;
    position: fixed;
    z-index: 7001;
    margin-left: 7%;
}

.mobile-menu-icon button {
    background-color: transparent;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 100px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    top: 0;
    z-index: 7000;
}

.mobile-menu .nav-item {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 10px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: space-between;
    border: 1px solid rgba(60, 54, 54, 0);
    font-weight: 350;
    transition: all 0.3s;
}

.mobile-menu .nav-item:hover {
    background-color: #d3d3d32d;
    padding: 10px 10px 10px 15px;
}

.mobile-menu .nav-item-icons {
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 50px 5.5% 5px 5.5%;
    font-size: 19.5px;
    justify-content: center;
}

.mobile-menu .nav-item-icons i{
    display: flex;
    font-size: 19.5px;
    justify-content: space-evenly;
    transition: all 0.3s;
    color: #000000;
    font-size: 22px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.mobile-menu .nav-item-icons i:hover{
    display: flex;
    justify-content: space-evenly;
    background-color: #c6c6c65e;
}

.mobile-menu .nav-item img{
    max-height: 15px;
    margin-right: 5px;
    transform: translate(-0%, 20%);
}

.open {
    display: block;
    z-index: 7000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 7%;
        margin-top: 30px;
    }

    nav ul li {
        display: flex;
        margin: auto;
    }

    nav ul li a {
        padding: 0px;
    }
    
    .nav-list {
        display: none;
    }

    .logo-2 {
        position: absolute;
        display: flex;
        margin: auto;
        margin-top: 29px;
        width: 100%;
    }

    .logo{
        display: none;
    }
    
    .acessarestoque2 {
        display: block;
        background-image: url(imgs/arrowright.png);
        background-size: 12.5px;
        background-position: 85% 55%;
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        color: white;
        padding: 2px 18px 5px 0px;
        width: 75px;
        transition: all 0.3s;
        border-radius: 15px;
        cursor: pointer;
        box-shadow:0px 0px 0px 1.5px black inset;
    }

    .acessarestoque3 {
        display: none;
    }
    
    .acessarestoque2 p{
        font-weight: 600;
        font-size: 13.5px;
    }
    
    
    .acessarestoque2:hover {
        background-image: url(imgs/arrowrightpreto.png);
        background-size: 12.5px;
        background-position: 90% 55%;
        background-color: #fbfbfb;
        color: rgb(0, 0, 0);
        box-shadow:0px 0px 0px 1.5px black inset;
    }

    .arrowrightestoque2{
        max-width: 12px;
        margin-top: 8px;
        color: #ffffff;
        transition: all 0.3s;
        float: right;
        box-sizing: border-box;
    }

    .mobile-menu-icon {
        width: 100px;
        display: block;
        position: relative;
        margin-left: 7%;
        z-index: 7008;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
    }
    
    .open{
        display: block;
    }
    
    .menu-open{
        display: block;
        position: fixed;
        z-index: 7001;
        margin-left: 7%;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        width: 100%;
        position: fixed;
        background-color: transparent;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
        margin: 0;
        top: 0;
        z-index: 7000;
    }
    
    .mobile-menu .nav-item {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 10px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: space-between;
        transition: all 0.3s;
        border: 1px solid rgba(60, 54, 54, 0);
        font-weight: 350;
    }
    
    .mobile-menu .nav-item:hover {
        background-color: #d3d3d32d;
        padding: 10px 10px 10px 15px;
    }
    
    .mobile-menu .nav-item-icons {
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        display: flex;
        margin: 50px 5.5% 5px 5.5%;
        font-size: 19.5px;
        justify-content: center;
    }

    .mobile-menu .nav-item-icons i{
        display: flex;
        font-size: 19.5px;
        justify-content: space-evenly;
        color: #000000;
        font-size: 22px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
    }

    .mobile-menu .nav-item-icons i:hover{
        background-color: transparent;
        color: unset;
    }

    .mobile-menu .nav-item img{
        max-height: 15px;
        margin-right: 5px;
        transform: translate(-0%, 20%);
    }
    
    .open {
        display: block;
        z-index: 7000;
        animation: fade 0.2s;
    }

    @keyframes fade {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(0%);
        }
    }
}  

.buttons-nav {
    color: rgb(0, 0, 0);
    padding: 2px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.3s;
    border-radius: 15px;
    animation: pulse 2.5s ease infinite;
}

.buttons-nav:hover {
    background-color: rgb(236, 236, 236);
}

.buttons-nav p{
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.current-nav {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 2px 15px 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px black inset;
}

.current-nav p {
    text-align: center;
    display: inline;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.6s;
}

.home-screen{
    margin: auto;
    width: 70%;
    margin-bottom: 0px;
    margin-top: 80px;
    display: flex;
    height: auto;
}

.about {
    margin: auto;
    width: 48%;
    color: rgb(0, 0, 0);
    height: auto;
    padding: 40px;
    margin-left: 0px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.4s;
    background-color: rgb(244, 244, 244);
}

.principaltaboutext h1 {
    font-size: 30px;
}

.about:hover {
    transform: translate(0%, -1%);
    background-color: rgb(239, 239, 239);
}

.about p {
    margin-top: 20px;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: justify;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.about-car {
    background-image: url(./imgs/porsche-model1.png);
    background-size: 1200px;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    width: 48%;
    height: auto;
    top: 0;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    transition: all 0.4s;
    box-sizing: border-box;
}

.about-car:hover {
    transform: translate(0%, -1%);
    background-color: rgb(239, 239, 239);
    background-position: -0% 68%;
}

.texts {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.mission {
    display: inline-block;
    margin: auto;
    width: 48%;
    height: 200px;
    margin-left: 0px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: all 0.4s;
    text-align: left;
}

.mission:hover {
    transform: translate(0%, -1%);
}

.mission h1 {
    color: white;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 30px;
}

.mission p {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 80px;
    text-align: left;
}

.vision {
    display: inline-block;
    width: 48%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: all 0.4s;
}

.vision:hover {
    transform: translate(0%, -1%);
}

.vision h1 {
    color: white;
    margin-top: 30px;
    margin-left: 40px;
}

.vision p {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 80px;
    
}

.values {
    background-image: url(imgs/tclogo2.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right;
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 4%;
    transition: all 0.4s;
}

.values:hover {
    transform: translate(0%, -1%);
    background-size: 305px;
}

.values h1 {
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}

.values p {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 80px;
}

@media screen and (max-width: 1000px) {
    .home-screen{
        display: flex;
        margin: auto;
        width: 80%;
        margin-bottom: 0px;
        height: auto;
        margin-top: 30px;
    }
    
    .about {
        width: 100%;
        padding-top: 40px;
        margin: 0;
        font-size: 16px;
        color: black;
        font-weight: 700;
        height: auto;
    }

    .about:hover {
        transform: translate(0%, -0.3%);
        background-color: rgb(239, 239, 239);
    }

    .about h1 {
        font-size: 25px;
    }

    .about p {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: justify;
        line-height: normal;
        color: rgb(0, 0, 0);
    }
    
    .about-car {
    display: none;
    }

    .car-2 {
        width: 100%;
        background-image: url(./imgs/porsche-model1.png);
        background-size: 850px;
        background-position: -5% 80%;
        background-repeat: no-repeat;
        height: 310px;
        background-color: rgb(244, 244, 244);
        border-radius: 15px;
        transition: all 0.4s;
        margin-bottom: 30px;
    }

    .car-2:hover {
        transform: translate(0%, -0.7%);
        background-color: rgb(239, 239, 239);
    }

    .texts {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        position: relative;
    }
    
    .mission {
        width: 100%;
        height: auto;
        padding-bottom: 35px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        transition: all 0.3s;
        margin-bottom: 30px;
    }
    
    .mission:hover {
        transform: translate(0%, -0.7%);
    }
    
    .mission h1 {
        color: white;
        margin-top: 35px;
        margin-left: 40px;
        font-size: 25px;
    }
    
    .mission p {
        color: white;
        margin-left: 40px;
        margin-top: 4px;
        margin-right: 40px;
        text-align: justify;
        font-size: 14px;
    }
    
    .vision {
        width: 100%;
        height: auto;
        padding-bottom: 35px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        transition: all 0.3s;
    }
    
    .vision:hover {
        transform: translate(0%, -0.7%);
    }
    
    .vision h1 {
        color: white;
        margin-top: 35px;
        margin-left: 40px;
        font-size: 25px;
    }
    
    .vision p {
        color: white;
        margin-left: 40px;
        margin-top: 5px;
        margin-right: 40px;
        text-align: justify;
        font-size: 14px;
    }
    
    .values {
        background-image: url(imgs/tclogo2.png);
        background-repeat: no-repeat;
        background-size: 190px;
        background-position: 115% 50%;
        width: 100%;
        height: auto;
        padding-bottom: 35px;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        transition: all 0.3s;
        margin-top: 30px;
    }
    
    .values:hover {
        transform: translate(0%, -0.5%);
        background-size: 195px;
    }
    
    .values h1 {
        font-size: 25px;
        color: white;
        margin-top: 35px;
        margin-left: 40px;
    }
    
    .values p {
        font-size: 14px;
        color: white;
        margin-left: 40px;
        margin-top: 5px;
        margin-right: 40px;
    }
}

footer {
    width: 100%;
    color: #000000;
    
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    padding: 50px 7.5vw 50px 7.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts p {
    font-weight: 600;
    font-size: 15px;
}

#footer_social_media {
    display: flex;
    gap: 1.95rem;
    margin-top: 1.2rem;
} 

#footer_social_media i {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

#footer_social_media i:hover {
    background-color: #c6c6c65e;
}

i.fa-brands.fa-facebook-f:hover {
    color: rgb(0, 68, 177);
    transition: all 0.2s;
}

i.fa-brands.fa-youtube:hover {
    color: red;
    transition: all 0.2s;
}

i.fa-brands.fa-whatsapp:hover {
    color: rgb(0, 193, 48);
    transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
    #footer_social_media i:hover {
        background-color: transparent
    }

    i.fa-brands.fa-facebook-f:hover {
        color: unset;
    }
    
    i.fa-brands.fa-youtube:hover {
        color: unset;
    }
    
    i.fa-brands.fa-whatsapp:hover {
        color: unset;
    }
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    font-weight: 600;
}

.footer-list h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-list a {
    font-size: 15px;
}

#footer_subscribe h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

#footer_subscribe p {
    font-weight: 600;
    font-size: 15px;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.footer-list .footer-link:hover {
    opacity: 0.7;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#input_group {
    display: flex;
    align-items: center;
}

#input_group input {
    margin-top: 0px;
    background-color: transparent;
    margin-left: 0px;
    height: 32px;
    width: 50%;
    border: solid 1px #969696;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

#input_group input::placeholder {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
}

.buttonsubscribe {
    all: unset;
    color: rgb(68, 68, 68);
    margin-left: 15px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 0.7rem;
    font-size: 1px;
    height: 31px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
    transition: all 0.3s;
}

.buttonsubscribeactive {
    all: unset;
    color: white;
    margin-left: 15px;
    background-color: none;
    border: solid 2px rgb(0, 0, 0);
    background-color: #000000;
    padding: 0px 0.7rem;
    font-size: 1px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
}

.buttonsubscribeactive:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .footer-list .footer-link:hover {
        opacity: 1;
        transition: all 0.3s;
    }

    .buttonsubscribeactive:hover {
        color: #fbfbfb;
        background-color: rgb(0, 0, 0);
        border: solid 2px rgb(0, 0, 0);
    }
}